@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: "Nunito", sans-serif;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
}

html {
    scroll-behavior: smooth;
}

html,
body {
    box-sizing: border-box;
}

main {
    overflow-y: auto;
}

/* body {
    transition: all .5s ease;
} */


/* main {
    max-width: 100vw;
    width: 100%;
} */

/* .principal,
.favorites,
header {
    display: none;
} */

.principal {
    background: url(src/fondo_main.png) center;
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    animation: blurAnimation 2s ease;
}


@keyframes blurAnimation {
    from {
        filter: blur(10px);
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        filter: blur(0);
        opacity: 1;
        transform: translateY(0);
    }
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0 0 10px;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 10;

}

header div img {
    object-fit: cover;
    width: 75px;
    height: 75px;

}


header div a {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    letter-spacing: .1rem;
    padding-bottom: .2rem;
    transition: all .3s ease;
    margin-left: 10px;
}

dialog {
    scrollbar-width: none;
}

.profile-user,
.configuration-user {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    border-radius: 1rem;
    background: #f1f1f1;
    transition: all .3s ease;
    height: auto;
    justify-content: center;
    margin-top: 1rem;
    gap: .5rem;
    margin-top: 0.3rem;
}


.configuration-user button {
    font-size: 1rem;
    background-color: #555;
    display: flex;
    color: white;
    width: 100%;
    transition: all .3s ease;
    padding: 1rem;
}

.configuration-user button:hover {
    transform: scale(1.04);
}




.profile-user i {
    font-size: 3rem;
    color: black;
}

.profile-user h2 {
    font-size: 1.2rem;
    margin-bottom: .3rem;
}

.profile-user p {
    font-size: .9rem;
    color: #555;
}


header div a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: black;
    transform: scaleX(0);
    transform-origin: left center;
    transition: all .3s ease;
}

header div button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 26px;
    color: black;
    margin-left: 0.5rem;
    transition: all 0.3s ease;
    border-radius: 50%;
    margin-right: 1rem;
}

header div button:hover {
    transform: scale(1.2);
}



header div a:hover::after {
    transform: scaleX(1);
}

header div a:hover {
    transform: translateY(-6px);
}


main {
    transition: all 2s ease;
}


header div button {
    outline: none;
    border-radius: 1rem;
    background-color: transparent;
    padding: .3rem;
    border: none;
    font-size: 26px;
    margin-left: .3rem;
    cursor: pointer;
    color: black;
}

.search-box {
    position: relative;
    display: inline-block;
}

.search-box i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #777;
    pointer-events: none;
}

.search-box input {
    padding: 8px 8px 8px 30px;
    border: 1px solid black;
    border-radius: 7px;
    outline: none;
    width: 100px;
    max-width: auto;
    transition: all .3s ease;
    z-index: 10;
}


h1 {
    font-size: 4rem;
    margin-left: 1rem;
}

.principal button {
    margin-top: 1rem;
    margin-left: 1rem;
    border: 1px solid black;
    padding: 1rem;
    border-radius: 1rem;
    background-color: transparent;
    transition: all .3s ease;
    text-transform: uppercase;
    letter-spacing: .1rem;

}

/* h1 span {
    cursor: pointer;
    transition: all .3s ease;
}

h1 span:hover {
    transform: translateY(20px);
} */

.principal button:hover {
    transform: scale(1.1);
    background-color: black;
    color: white;
    border: none;
}

.general-products {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #ffff;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;
}


.general-products h2 {
    margin-bottom: 1rem;
    font-size: 2rem;
}

.tabs-container {
    display: flex;
    gap: 1rem;
    margin: .3rem;
}


dialog {
    position: fixed;
    top: 40%;
    left: 85%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 300px;
    height: auto;
    max-height: 90vh;
    border: none;
    border-radius: 1rem;
    margin-left: 1rem;
    padding: 1rem;
}

:root {
    view-transition-name: none;
}

::view-transition {
    pointer-events: none;
}

::view-transition-group(.vt-element-animation),
::view-transition-group(.vt-element-animation-closing) {
    animation-duration: 500ms;
    animation-timing-function: cubic-bezier(0.38, 0.49, 0, 1);
}

::view-transition-old(.vt-element-animation),
::view-transition-new(.vt-element-animation),
::view-transition-old(.vt-element-animation-closing),
::view-transition-new(.vt-element-animation-closing) {
    height: 100%;
    min-height: 100%;
    overflow: clip;
    object-position: left top;
}

@keyframes vt-fade-in {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes vt-fade-out {
    to {
        opacity: 0;
    }
}

::view-transition-old(.vt-element-animation) {
    animation: vt-fade-out 200ms cubic-bezier(0.38, 0.49, 0, 1);
}

::view-transition-new(.vt-element-animation) {
    animation: vt-fade-in 200ms cubic-bezier(0.38, 0.49, 0, 1);
}

::view-transition-old(.vt-element-animation-closing) {
    animation: vt-fade-out 200ms cubic-bezier(0.75, 0, 0.41, -0.06);
}

::view-transition-new(.vt-element-animation-closing) {
    animation: vt-fade-in 200ms cubic-bezier(0.75, 0, 0.41, -0.06);
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.border {
    display: flex;
    width: 100vw;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.3);
    margin-bottom: 1rem;
}

.tabs-container button {
    border: none;
    /* position: relative; */
    background-color: transparent;
    color: black;
    font-weight: bold;
}

.category-selected {
    transition: all .3s ease;
    position: relative;
    z-index: 1;
}

.category-selected::before {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    background-color: black;
    height: 2px;
    width: 100%;
    transition: all .3s ease;
}

.general-products-container {
    display: flex;
    overflow-x: auto;
    scrollbar-width: none;
    max-width: 1000px;
    width: 100%;
}

.favorites {
    height: 100vh;
    background-color: #BFBFC0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;

}

/* .title-favorites {
    font-family: "Nunito", sans-serif;
} */

.favorites {
    transition: all .5s ease;

}

.products-favorites {
    display: flex;
    overflow-x: auto;
    max-width: 1200px;
    width: 100%;
    scrollbar-width: none;
    gap: 1rem;
    transition: all .3s ease;
}

.product {
    max-width: 250px;
    width: 100%;
    cursor: pointer;
    padding: 1rem;
    border-radius: 1rem;
    transition: all .3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.no-see {
    transform: translateY(20px);
    opacity: 0;
    filter: blur(30px);
    /* background-color: white; */
}

.product img {
    object-fit: contain;
    width: 200px;
    height: 200px;
    background-color: #e7e7e8;
    border-radius: .5rem;
    margin-bottom: 1rem;
}

.product p {
    margin-top: 1rem;
}

.product:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transform: translate(0, -10px);
}

.view-info {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
    justify-content: center;
    background-color: #BFBFC0;
    overflow-y: auto;
}

.view-info article {
    display: flex;
    align-items: center;
    justify-content: center;
}

.view-info article img {
    object-fit: cover;
    width: 300px;
    width: 300px;
}

.view-info article div h2 {
    font-size: 50px;
}

.view-info article div h3 {
    font-size: 30px;
}

.view-info article div p {
    margin-top: 1rem;
    margin-bottom: 1rem;
    justify-content: start;
}

.view-info article div ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin: auto;
}

ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}

ul li {
    margin-top: 1rem;
    margin-bottom: 2rem;
    transition: all .3s ease;
}

.selected {
    box-shadow: 0 0 20px black;
}


ul li:hover {
    transform: scale(1.1);
}

.red {
    background-color: red;
    list-style: none;
    border-radius: 100%;
    width: 50px;
    height: 50px;
}

.purple {
    background-color: purple;
    list-style: none;
    border-radius: 100%;
    width: 50px;
    height: 50px;
}

.black {
    background-color: black;
    list-style: none;
    border-radius: 100%;
    width: 50px;
    height: 50px;
}

.white {
    list-style: none;
    background-color: white;
    border-radius: 100%;
    width: 50px;
    height: 50px;
}

.add-to-favorite-btn {
    max-width: 300px;
    width: 100%;
    outline: none;
    border: none;
    color: white;
    background-color: black;
    border-radius: 1rem;
    padding: 1rem;
    transition: all .3s ease;
}


.add-to-favorite-btn:hover {
    transform: translateX(-5px) scale(1.03);
}


.come-back-btn {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 1rem;
    width: 100%;
    margin-left: 1rem;
    height: 20%;
}

.come-back-btn button {
    border-radius: 1rem;
    padding: .4rem 1rem;
    letter-spacing: .1rem;
    font-weight: bold;
    text-transform: uppercase;
    color: black;
    background-color: transparent;
    border: none;
    position: relative;
    cursor: pointer;
    transition: all .3s ease;
}

.come-back-btn button:hover {
    transform: translateY(-10px);
}

.come-back-btn button::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: black;
    transform: scaleX(0);
    transform-origin: right;
    transition: all 0.3s ease;
}

.come-back-btn button:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}

/*PRODUCTS*/
.products-title {
    width: 224px;
    height: 55px;
    left: 609px;
    top: 201px;
    text-align: center;
}

/*END PRODUCTS*/

footer {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Nunito", sans-serif;
    transition: all .3s ease;

}

.removed-footer {
    height: 0px;
}

@media (max-width: 768px) {
    dialog {
        top: 40%;
        left: 70%;
        transform: translate(-50%, -50%);
        width: 50vw;
        height: 50vh;
        max-width: none;
        margin-left: 0;
    }
}

@media (max-width: 480px) {
    dialog {
        width: 95vw;
        border-radius: 0.5rem;
        padding: 0.5rem;
    }
}